@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);

html {
    font-family: 'Noticia Text', serif;
    color: #777;
}

#content {
  background: white;
}

section#column {
  background: #f2f2f2 url("../img/bordershadow.png") top right repeat-y;
  font-family: 'Questrial', sans-serif;
  font-size: .8em;
}

#column a {
  display: block;
  color: #2E87DD;
  text-decoration: none;
  margin-bottom: .5em;
}

#column a:hover {
  text-decoration: underline;
}

code, pre, tt, textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  padding: 1em 0 .5em .8em;
  border-left: 6px solid #D8D8ED;
  background-color: #F8F8FF;
  margin: .5em 0 2em 0;
}
code, pre, tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.70em;
  line-height: 1.5em;
  color: #5F5529;
}

#column ul {
    list-style: none;
	margin: 0;
	padding: 0!important;
}
#column ul {
	margin: 0;
}
#column ul li ul {
    margin-bottom: 0.75em;
}
#column ul li ul li ul {
    margin-bottom: 0.25em;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
