html {
    color: #777;
}

body {
  padding-top: 10px;
}

#content {
  background: white;
  max-width:  700px;
}

#content p, #content li {
  font-size:  1.1em;  
  line-height: 1.4em;  
}


h1, h2, h3, h4 {
  margin: 25px 0 10px 0;
  color: purple;  
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
}

h3 {
  font-size: 18px; 
}

h4 {
  margin-left: 10px;
  font-size: 14px;
}



section#column {
  background: #f2f2f2 url("../img/bordershadow.png") top right repeat-y;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  padding-top:  30px;
}

#column a {
  display: block;
  color: purple;
  text-decoration: none;
  margin-bottom: .5em;
}


#column ul {
  list-style: none;
	margin: 0;
	padding: 0!important;
}


#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li a {
//    padding: 5px;
}

#toc a {
    color: purple;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 0px;
}

#toc .toc-h3 {
    padding-left: 10px;
}

#toc .toc-h4 {
    padding-left: 20px;
}

#toc .toc-active a {
    background: #336699;
    padding:  5px;
    color:  white;
}




.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
