<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<!--
	The comment jumble above is handy for targeting old IE with CSS.
	http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
	
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>{{ page.title }}</title>
		
		<!-- Please don't add "maximum-scale=1" here. It's bad for accessibility. -->
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<!-- Feel free to split the CSS into separate files, if you like. -->
		<link rel="stylesheet" href="css/GGS.css"/> 
		
    <link href="css/prettify.css" type="text/css" rel="stylesheet" />
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
		
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />		
    <link rel="stylesheet" href="css/codesyntax.css" type="text/css" />
	</head>

<body lang="en">
	<section id="main" class="normal">	
		<!-- Content begins -->
		
		<section id="column" class="wrapper">
		  <a href="http://zaphpa.org"><img src="/img/thisiszaphpa.jpg"></a>
		  <div class="social-links">
		    <ul>
		      <li class="follow-btn">
		        <a href="https://twitter.com/zaphpa" class="twitter-follow-button" data-show-count="false">Follow @zaphpa</a>
		        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		      </li>
		      <li class="tweet-btn">
		        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://zaphpa.org" data-text="Check out Zaphpa RESTful PHP Router!" data-related="zaphpa" data-count="none">Tweet</a>
		        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		      </li>
		    </ul>
		  </div><!-- /.social-links -->
			<!-- This will be replaced by proper TOC through Javascript -->		
			<div id="toc"></div>				
		</section><!--/ #column -->
		
		<section id="placeholder">&nbsp;</section>
		
		<section id="content" class="wrapper">
      {{ content }}
		</section>
	
	</section><!--/ #main -->

<script src="prettify/prettify.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="https://raw.github.com/jgallen23/toc/master/dist/jquery.toc.min.js"></script>
<script src="js/site.js"></script>	
</body>
</html>
